version: "3.8"

services:
  mysqldb:
    container_name: mysqldb
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: employeeDb
    ports:
      - "3307:3306"
    networks:
      - springboot-mysql-net

  springboot-docker-demo:
    container_name: springboot-docker-demo
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - mysqldb
    networks:
      - springboot-mysql-net


networks:
  springboot-mysql-net:
